<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <title>Table of Users</title>
</head>
<body>
<!-- Навигационная панель-->
<nav class="navbar bg-dark navbar-dark fixed-top">
    <div class="container-fluid">
        <div>
            <form class="form-inline">
                <strong><span class="navbar-text text-white font-weight-bold"
                              th:text="${loguser.getEmail()}"></span></strong>
                <span class="navbar-text text-white">&nbsp with roles: &nbsp</span>
                <span class="navbar-text text-white"><a th:each="role: ${loguser.getRoles()}"
                                                        th:text="${role.name.replaceFirst('ROLE_', '') + ' '}"></a></span>
            </form>
        </div>
        <div>
            <a class="nav-link text-muted" th:href="@{/login}">Logout</a>
        </div>
    </div>
</nav>
<!-- Основной контейнер -->
<div class="container-fluid bg-light">
    <div class="row">

        <!-- Левый блок -->
        <div class="p-0 col-2">
            <br/>
            <br/>
            <div class="nav flex-column nav-pills pt-4" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="/admin" sec:authorize="hasRole('ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-home" aria-selected="true">Admin</a>
                <a class="nav-link" href="/user" sec:authorize="hasAnyRole('ROLE_USER','ROLE_ADMIN')" role="tab"
                   aria-controls="v-pills-profile" aria-selected="false">User</a>
            </div>
        </div>

        <!--Правый блок -->
        <div class="col-sm-10 bg-light"><br><br><br>

            <!-- Малая навигационная панель -->
            <h2>Admin panel</h2>
            <ul class="nav nav-tabs">
                <li class="nav-item">
                    <a class="nav-link active" data-bs-toggle="tab" href="#userstable">Users table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" data-bs-toggle="tab" href="#newuser">New user</a>
                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane fade show active" id="userstable">
                    <table class="table table-striped table-bordered">
                        <h5>All Users</h5>
                        <thread>
                            <tr>
                                <th>ID</th>
                                <th>First name</th>
                                <th>Email</th>
                                <th>Role</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thread>
                        <tbody>
                        <tr th:each="user : ${users}">
                            <td th:text="${user.getId()}"></td>
                            <td th:text="${user.getUsername()}"></td>
                            <td th:text="${user.getEmail()}"></td>
                            <td th:text="${user.getRolesName()}"></td>
                            </td>

                            <td>
                                <a type="button" class="btn btn-info text-white" data-bs-toggle="modal"
                                   data-bs-target="#editModal"
                                   th:data-bs-target="${'#editModal'+user.id}">Edit</a>

                            </td>
                            <td>
                                <a type="button" class="btn btn-info btn-danger text-white" data-bs-toggle="modal"
                                   data-bs-target="#DELETE"
                                   th:data-bs-target="${'#DELETE'+user.id}">Delete</a>
                            </td>
                            <!-- Модальное окно добавления юзера -->
                            <div class="modal fade" th:id="${'editModal'+user.id}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" modal-dialog-centered>
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="editModalLabel">Edit user</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>

                                        <form th:method="PUT"
                                              th:align="center"
                                              th:action="@{/admin/user-update/{id}(id=${user.id})}"
                                              th:object="${user}">
                                            <div class="align-items-center text-center mx-auto">
                                                <br>
                                                <div class="col" >
                                                    <label for="id" align="center" ><b>ID</b></label>
                                                    <input th:name="id" th:type="text"
                                                           class="form-control" aria-label="Пример отключенного входа" disabled
                                                           id="id"
                                                           th:value="${user.id}"/>
                                                </div>
                                                <br>
                                                <div class="col">
                                                    <label for="username1" align="center"><b>First name</b></label>
                                                    <input th:name="username" th:type="text"
                                                           class="form-control" id="username1"
                                                           th:value="${user.username}"/>
                                                </div>
                                                <br>
                                                <div class="col">
                                                    <label for="email0"><b>Email</b></label>
                                                    <input th:name="email" th:type="email"
                                                           class="form-control" id="email0"
                                                           th:value="${user.email}"/>
                                                </div>
                                                <br>
                                                <div class="col">
                                                    <label for="password0"><b>Password</b></label>
                                                    <input th:name="password" type="text"
                                                           class="form-control" id="password0"/>
                                                </div>
                                                <br>
                                                <div class="col">
                                                    <label for="roles"><b>Role</b></label>
                                                    <select multiple class="form-control form-control-sm" id="roles2" name="roles" size="2" required>
                                                        <option th:each="role: ${roles}" th:value="${role.id}" th:selected="${user.roles.contains(role)}">
                                                            <th:block th:text="${role.name.replaceFirst('ROLE_', '') }">
                                                            </th:block>
                                                        </option>
                                                    </select>
                                                </div>
                                                <br><br>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">
                                                    Close
                                                </button>
                                                <button type="submit" class="btn btn-primary">
                                                    Edit
                                                </button>
                                            </div>
                                        </form>

                                    </div>
                                </div>
                            </div>
                            <!-- Модальное окно удаления юзера -->
                            <div class="modal fade" th:id="${'DELETE'+user.id}"
                                 aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title" id="exampleModalLabel">Delete user</h5>
                                            <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">&times;</span>
                                            </button>
                                        </div>
                                        <form class="modal-body col"
                                              th:align="center"
                                              th:action="@{/admin/user-delete/{id}(id=${user.id})}"
                                              th:method="DELETE">
                                            <div class="align-items-center text-center mx-auto">
                                                <div class="modal-body col-md">

                                                    <div class="col" >
                                                        <label for="id" align="center" ><b>ID</b></label>
                                                        <input th:name="id" th:type="text"
                                                               class="form-control" aria-label="Пример отключенного входа" disabled
                                                               id="id1"
                                                               th:value="${user.id}"/>
                                                    </div>
                                                    <br>
                                                    <div class="col">
                                                        <label for="username2" align="center"><b>First name</b></label>
                                                        <input th:name="username" th:type="text"
                                                               class="form-control" aria-label="Пример отключенного входа" disabled
                                                               id="username2"
                                                               th:value="${user.username}"/>
                                                    </div>
                                                    <br>
                                                    <div class="col">
                                                        <label for="email2"><b>Email</b></label>
                                                        <input th:name="email" th:type="email"
                                                               class="form-control" aria-label="Пример отключенного входа" disabled
                                                               id="email2"
                                                               th:value="${user.email}"/>
                                                    </div>
                                                    <br>
                                                    <div class="col">
                                                        <label for="roles"><b>Role</b></label>
                                                        <select multiple class="form-control form-control-sm" aria-label="Пример отключенного входа" disabled
                                                                id="roles1" name="roles" size="2" required>
                                                            <option th:each="role: ${roles}" th:value="${role.id}" th:selected="${user.roles.contains(role)}">
                                                                <th:block th:text="${role.name.replaceFirst('ROLE_', '') }">
                                                                </th:block>
                                                            </option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close
                                                </button>
                                                <button type="submit" class="btn btn-danger">Delete
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="tab-pane fade" id="newuser">
                    <h5>Add new user</h5>
                    <form th:method="POST" align="center" class="offset-md-4 col-md-3 mt-4 mb-4"
                          th:align="center"
                          th:action="@{/admin/user-create}"
                          th:object="${newuser}">
                        <label for="username"><b>First name</b></label>
                        <input th:name="username" th:type="text" class="form-control" id="username" required/>
                        <br>
                        <label for="email"><b>Email</b></label>
                        <input th:name="email" th:type="email" class="form-control" id="email" required/>
                        <br>
                        <label for="password"><b>Password</b></label>
                        <div class="form-group">
                            <div class="input-group" id="show_hide_password">
                                <input type="password" id="password" name="password"
                                       th:field="*{password}"
                                       class="form-control" placeholder="Password">
                            </div>
                        </div>
                        <br>
                        <label for="roles"><b>Role</b></label>
                        <select multiple class="form-control form-control-sm" id="roles" name="roles" size="2" required>
                            <option th:each="role: ${roles}" th:value="${role.id}"th:text="${role.name.replaceFirst('ROLE_', '') }">


                            </option>
                        </select>
                        <br>
                        <button th:type="submit" class="btn btn-success btn-lg" value="Add new user">Add new user
                        </button>
                    </form>
                </div>
            </div>
        </div>
        <br>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>
</html>